app/__pycache__/**
*.pyc
venv/**
.DS_Store
cert.pem
key.pem
config.py
app.db
logs/workbench.log
logs/workbench.log.1
app/static/data/test_data.csv
logs/workbench.log.2
logs/workbench.log.3
logs/workbench.log.4
logs/workbench.log.5
logs/workbench.log.6
logs/workbench.log.7
logs/workbench.log.8
logs/workbench.log.9
logs/workbench.log.10
