{% extends "base.html" %}

{% block content %}
    <h1>Search</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.keyword.label }}<br>
            {{ form.keyword(size=32) }}<br>
            {% for error in form.keyword.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {% for type in form.types %}
                <tr>
                    <td>{{ type }}</td>
                    <td>{{ type.label }}</td>
                </tr>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <hr>
    {% for request in my_requests %}
        {% if request.keyTypeUsed == "deviceName" or form.types.data == "serialNumber" %}
            {% include '_machine_results.html' %}
        {% endif %}
        {% if request.keyTypeUsed == "username" %}
            {% include '_user_results.html' %}
        {% endif %} 
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer machines</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older machines</a>
    {% endif %}
{% endblock %}