{% extends "base.html" %}

{% block app_content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Device Name</th>
        <th>Space Remaining</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/space/data',
        columns: [
          {data: 'device'},
          {data: 'size', searchable: false},
        ],
      });
    });
  </script>
{% endblock %}