{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class= container>
        <form method="POST">
            <div class="row">
                <div class="col-md-3">
                    {{ wtf.form_field(appverforms.app) }}
                </div>
                <div class="col-md-3">
                    {{ wtf.form_field(appverforms.operator) }}
                </div>
                <div class="col-md-3">
                    {{ wtf.form_field(appverforms.version) }}
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-default btn-lg">Query</button>
                </div>
            </div>
        </form>       
    </div>
    {% if filtered_version_dict != None %}
        <table id="data" class="table table-striped">
            <thead>
                <tr>
                    <th>Device Name:</th>
                    <th>Application:</th>
                    <th>Version:</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in filtered_version_dict.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value[0] }}</td>
                        <td>{{ value[1] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <script>
        let app_select = document.getElementById('app');
        let version_select = document.getElementById('version');

        app_select.onchange = function() {
            app = app_select.value;
            
            fetch('/version_check/version/' + app).then(function(response) {
                response.json().then(function(data) {
                    let optionHTML = ''; 
                    for (let version of data.versions) {
                        optionHTML += '<option value="' + version.id + '">' + version.fake_key + '</option>';
                    }

                    version_select.innerHTML = optionHTML;

                });
            });
        }
    </script>

{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}